<mat-toolbar color="primary" class="mat-elevation-z8">
  <button routerLink="home" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mi Polideportivo</span>
  <div class="spacer"></div>
  <button routerLink="home" mat-button>Home</button>
  @if (!isLoggedIn) {
    <button routerLink="register" mat-button>Register</button>
    <button routerLink="login" mat-button>Login</button>
  } @else {
    @if (showAdminBoard) {
      <button routerLink="register" mat-button>Register</button>
      <button routerLink="login" mat-button>Login</button>
      <button mat-button (click)="logout()">Logout</button>
    } @else {
      <button mat-button (click)="logout()">Logout</button>
    }
  }
</mat-toolbar>
