<mat-toolbar color="primary" class="mat-elevation-z8">
  <button routerLink="home" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mi Polideportivo</span>
  <div class="spacer"></div>
  <button routerLink="home" mat-button>Inicio</button>
  @if (!isLoggedIn) {
    <button routerLink="register" mat-button>Registro</button>
    <button routerLink="login" mat-button>Acceso</button>
  } @else {
    @if (showAdminBoard) {
      <button routerLink="register" mat-button>Registro</button>
      <button routerLink="login" mat-button>Acceso</button>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    } @else {
      <button routerLink="information" mat-button>Información de servicio</button>
      <button routerLink="book" mat-button>Reservar</button>
      <button routerLink="myBookings" mat-button>Mis reservas</button>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    }
  }
</mat-toolbar>
