<mat-toolbar color="primary" class="mat-elevation-z8">
  <button routerLink="home" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mi Polideportivo</span>
  <div class="spacer"></div>
  <button routerLink="home" mat-button>Home</button>
  <button routerLink="register" mat-button>Register</button>
  <button routerLink="login" mat-button>Login</button>
  <button mat-button (click)="logout()">Logout</button>
  <!--<a mat-button>Home</a>
  <a mat-button>About</a>
  <a mat-button>Contact</a>-->
</mat-toolbar>
