.container {
  display: flex;
  flex-direction: column;
  margin:4rem auto;
  max-width: 600px;
  background-color: rgb(212,217,219);
}

.header {
  background-color: #6495ED;
}

.example-header-image {
  background-image: url('../../assets/acceso-seguro.jpg');
  background-size: cover;
}

mat-form-field {
  width: 100%;
}

button {
  display: inline-block;
}

.spinner {
  display: inline-block;
  position: relative;
  top: 11px;
  margin-left: 15px;
}
