.contenedor {
  display: flex;
  margin: 20px 20px;
}

.inline {
  margin-right: 10px;;
  padding: 10px;
  border: 2px solid rgb(202, 186, 186);
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Altura completa de la ventana */
}
