.form-payment {
  padding: 10px 10px 10px 10px;
}

mat-form-field {
  width: 100%;
}

button {
  display: inline-block;
}

.spinner {
  display: inline-block;
  position: relative;
  top: 11px;
  margin-left: 15px;
}
