<h2 mat-dialog-title>¿Deseas confirmar el pago?</h2>
<mat-dialog-content>
  <h3><b>INSTALACIÓN: </b>{{data.nameFacility}}</h3>
  <h3><b>FECHA RESERVA: </b>{{data.dateSelected}}</h3>
  <h3><b>HORA RESERVA: </b>{{data.timeBook}}</h3>
  <h3><b>USUARIO: </b>{{data.userName}}</h3>
  <h3><b>IMPORTE: </b>10,00 €</h3>
  <h3><b>IDENTIFICADOR: </b>{{data.id}}</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="confirm(data.id, data.idAvailableDateTime, idUser)">Confirmar</button>
  <button mat-raised-button color="primary" (click)="cancel(data.id)" cdkFocusInitial>Cancelar</button>
  @if (isLoading) {
    <mat-progress-spinner class="spinner"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="30">
    </mat-progress-spinner>
  }
</mat-dialog-actions>
